* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #222233;
  font-family: Arial;
  position: relative;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-template:
    "canvas"
    "console"
    "inputs";
  color: #ddd;
  height: 100vh;
}
canvas {
  background-color: #0088BB;
  border: 2px solid #ccc;
  margin: 10px;
  grid-area: canvas;
}
#stuff {
  position: absolute;
  left: 0;
  bottom: 0;
}
#coords {
  grid-area: inputs;
}
button {
  background-color: #27c498;
  border: 1px solid black;
  padding: 2px;
}
#console {
  font-size: 150%;
  background-color: #444455;
  width: 700px;
  grid-area: console;
  padding: 5px;
  box-sizing: border-box;
}
#levelManager {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212423;
  padding: 5px;
  color: #fefefe;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: 3px solid black;
  width: 75vw;
  height: 75vh;
  margin: 0;
  max-width: 75vw;
  max-height: 75vh;

  display: none;
  grid-template:
    "add h1 x"
    "blocks blocks blocks";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 5% 90%;
  grid-gap: 5% 0%;
}

#blocks {
  overflow-y: scroll;
  max-height: 70vh;
  grid-area: blocks;
  scrollbar-color: #222 #27c498;
  scrollbar-width: thin;
  scrollbar-radius: 10px;
}
#pullUpMenuButton {
  padding: 5px;
}
#levelManager,
h1 {
  grid-area: h1;
}
#closeMenu {
  grid-area:x;
}
#addBlock {
  grid-area: add;
  font-size: 110%;
}
table {
  width: 100%;
}
